@page
@model AboutModel
@{
    ViewData["Title"] = "About Beewatch";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This webapp was designed to be the easiest way to teacher-student interactions. 
This is a prototype yet and could be instable.
We implementing new features and improvement.</p>


<strong>Feature:
<li>Youtube Remote Video Player: </li>
</strong>  
<br/>
<p>With this feature we can controlling a video on computer of other people, across the web browser. For Exemple: A english teacher can be start, stop, forward or backward a video on web browser of your student, easing the teaching process when this occurs remotely.</p>

<strong>More technical informations about this project access the source code on:</strong>
<br/>
<a href="https://github.com/haroldjose30/Beewatch" target="_blank">hhttps://github.com/haroldjose30/Beewatch</a><br />


