@page
@model AboutModel
@{
    ViewData["Title"] = "About Beewatch";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This webapp was designed to be the easiest way to teacher-student interactions. 
This is a prototype yet and could be instable.
We implementing new features e improvement.</p>

