@page
@model ContactModel
@{
    ViewData["Title"] = "Contacts";
}
<h2>@ViewData["Title"]</h2>
<h3>By Harold José</h3>
<h5>Professional Developer for Mobile, Web and Desktop enterprise applications</h5>
<li>
<a href="http://haroldjose.azurewebsites.net" target="_blank">My Profile</a><br />
</li>
    <br/>


<h3>Designed for Bárbara Brasileiro</h3>
<h5>English Teacher</h5>

<li>
<a href="https://www.linkedin.com/in/barbarablcristovao/" target="_blank">My Linkedin</a><br />
</li>
<li>
<a href="https://www.facebook.com/BarbaraCristovao/" target="_blank">My Facebook</a><br />
</li>
<br/>

<h3>For Support:</h3>
<address>
    <a href="mailto:haroldbarros@gmail.com" target="_blank">haroldbarros@gmail.com</a><br />
    <br />
    Curitiba,PR,Brazil
    
</address>
